<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobileserviceactivation"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.mobileserviceactivation.StartPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mobileserviceactivation.ServiceProvider"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="com.example.mobileserviceactivation.SERVICEPROVIDER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mobileserviceactivation.Menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.mobileserviceactivation.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mobileserviceactivation.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.mobileserviceactivation.STARTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mobileserviceactivation.CreditSharing"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.mobileserviceactivation.AboutUs"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.example.mobileserviceactivation.ABOUTUS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mobileserviceactivation.Settings"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.mobileserviceactivation.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mobileserviceactivation.AddCode"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.mobileserviceactivation.ADDCODE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>